<% status = object if local_variables.include?(:object) %>

<% on_my_profile = (status.user == current_user) %>

<li class="status <%= klass %>">

  <ul class="status-info">

  	<li class="status-top group">

  	  <% if local_assigns.keys.include?(:author) %>
  	    <span class="status-author">
          <% author_url = user_url(status.user) %>
          <% author_url += "?vip_tour=4" if vip_tour %>
          
  			  <%= link_to author, author_url%>
  		  </span>
  	  <% end %>

  	  <span class="posted-at"><%= time_ago(status) %></span>

  	</li>

    <% if status.pic_file_size %>
      <li class="status-img">
        <%= image_tag status.pic.url(:big) %>
      </li>
    <% end %>

    <% if status.body %>
      <li class="status-body">
        <%= htmlize(status.body) %>
      </li>
    <% end %>

    <% if status.link %>
      <li class="status-link<%= " border" unless status.body %>">
        <%= link_to status.link, status.link %>
      </li>
    <% end %>

    <li>
      <ul class="responses">

        <%= render partial: "responses/likes-li",
          locals: { status: status, on_my_profile: on_my_profile } %>

        <%= render partial: "responses/comments-li",
          locals: { status: status } %>

        <%= render partial: "responses/new-comment",
          locals: { status: status } %>

      </ul>
    </li>

  </ul>
</li>