<% status = object if local_variables.include?(:object) %>

<% on_my_profile = (status.user == current_user) %>

<li class="status">
  <% if local_assigns.keys.include?(:author) %>
    <div class="author"><%= author %> wrote:</div>
  <% end %>

  <% if status.pic %>
    <div class="status-img">
      <%= image_tag status.pic.url(:big) %>
    </div>
  <% end %>

  <div class="status-body"><%= status.body %></div>
  <div class="posted-at"><%= status.time_ago %></div>

    <div class="likes">
      <%= render partial: "responses/like-count", locals: {
        like_count: status.like_count } %>
    </div>

  <% unless Status.statuses_liked_by(current_user).include?(status) ||
     on_my_profile %>
    <%= button_to "Like", status_responses_url(status),
      method: :post, remote: true, class: "like-button" %>
  <% end %>

  <%= render partial: "responses/comments", locals: { status: status } %>

  <% unless on_my_profile %>
    <%= render partial: "responses/new-comment", locals: { status: status } %>
  <% end %>
</li>
