<% status = object if local_variables.include?(:object) %>

<% on_my_profile = (status.user == current_user) %>

<li class="status pod <%= klass %>">

	<div class="status-top group">

	  <% if local_assigns.keys.include?(:author) %>
	    <span class="status-author">
			<%= link_to author, user_url(status.user) %>
		  </span>
	  <% end %>

	  <span class="posted-at"><%= time_ago(status) %></span>

	</div>

  <% if status.pic_file_size %>
    <div class="status-img">
      <%= image_tag status.pic.url(:big) %>
    </div>
  <% end %>

  <div class="status-body"><%= status.body %></div>

  <ul class="responses">

    <%= render partial: "responses/likes-li",
      locals: { status: status, on_my_profile: on_my_profile } %>

    <%= render partial: "responses/comments-li", locals: { status: status } %>


    <li class="new-comment">
      <% unless on_my_profile %>
        <%= render partial: "responses/new-comment",
          locals: { status: status } %>
      <% end %>
    </li>
  </ul>
</li>