<!--

  VARIABLES:

  object: company, user
  type: status, experience
  new_url: new_status_url, etc.

 -->

<% position = false unless position %>

<div id="profile-<%= (type == "experience" && position) ? "company" : type %>" class="profile-box">

  <h3><%= title %></h3>

  <% url = position ? new_url + "?position=true" : new_url %>
  <% link_add = position ? "company" : type %>

  <% if edit %>

  <!--
    do we want to generate a regular form or a fancy modal?
  -->
  <% klass = type == "status" ? "gen-modal" : "gen-form" %>

    <%= link_to "Add", url, remote: true, id: "add-#{link_add}",
      class: "#{klass} pod third first" %>
  <% end %>

  <div class="pod two-thirds">

    <ul>

      <% if position %>
        <% to_send = "positions" %>
      <% elsif type == "experience" %>
        <% to_send = "names" %>
      <% else %>
        <% to_send = type.pluralize %>
      <% end %>

      <% object.send(to_send).order("created_at DESC").each do |object| %>
          <% if edit && type != "status" %>
            <%= render partial: "#{type.pluralize}/show-and-edit",
              locals: { object: object, position: position } %>
          <% else %>
            <%= render partial: "#{type.pluralize}/show",
              locals: { object: object, position: position }%>
          <% end %>
      <% end %>
    </ul>

  </div>

</div>



