<!--

  VARIABLES:

  object: company, user
  type: status, experience
  new_url: new_status_url, etc.

 -->

<% position = false unless position %>

<div id="profile-<%= (type == "experience" && position) ? "company" : type %>" class="profile-box">

  <h3><span><%= title %></span></h3>

  <% url = position ? new_url + "?position=true" : new_url %>
  <% link_add = position ? "company" : type %>

  <% if edit %>

  <!--
    do we want to generate a regular form or a fancy modal?
  -->
    <% klass = type == "status" ? "gen-modal" : "gen-form" %>

    <div class="pod third first">

      <%= link_to plus + " new", url, remote: true, id: "add-#{link_add}",
        class: "buttony-link experience-link #{klass}" %>

    </div>

    <% end %>



  <ul
  <%= raw('class="edit"') if edit %>
  <%= raw('id="outer"') if type == "status" %>>

    <% if position %>
      <% to_send = "positions" %>
    <% elsif type == "experience" %>
      <% to_send = "educations" %>
    <% else %>
      <% to_send = type.pluralize %>
    <% end %>

    <% object.send(to_send)
      .order("created_at DESC")
      .each_with_index do |object, i| %>

        <% klass = edit ? "pod two-thirds" : "pod half" %>
        <% klass += " first" if i % 2 == 0 && !edit %>
        <% klass = "" if type == "status" && !edit %>

        <% if edit && type != "status" %>
          <%= render partial: "#{type.pluralize}/show-and-edit", locals: {
            object: object, position: position, klass: klass } %>
        <% else %>
          <%= render partial: "#{type.pluralize}/show", locals: {
            object: object, position: position, klass: klass }%>
        <% end %>
    <% end %>
  </ul>

  <% if type == "status" && !edit %>
    <ul id="col-1" class="pod half first group"></ul>
    <ul id="col-2" class="pod half group"></ul>
  <% end %>


</div>

<% if type == "status" && !edit %>

  <%= render partial: "statuses/organize-js" %>

<% end %>


