<!--

  VARIABLES:

  object: company, user
  type: status, experience
  plural: statuses, experiences
  new_url: new_status_url, etc.

 -->

<% position = false unless position %>

<div id="profile-<%= (type == "experience" && position) ? "company" : type %>" class="profile-box">

  <h3><%= title %></h3>

  <% url = position ? new_url + "?position=true" : new_url %>
  <% link_add = position ? "company" : type %>

  <% if edit %>
    <%= link_to "Add", url, remote: true, id: "add-#{link_add}",
      class: "gen-form pod third first" %>
  <% end %>

  <div class="pod two-thirds">

    <ul>

      <% if position %>
        <% to_send = "positions" %>
      <% elsif type == "experience" %>
        <% to_send = "names" %>
      <% else %>
        <% to_send = plural %>
      <% end %>

      <% object.send(to_send).each do |object| %>
          <% if edit %>
            <%= render partial: "#{plural}/show-and-edit",
              locals: { object: object, position: position } %>
          <% else %>
            <%= render partial: "#{plural}/show",
              locals: { object: object, position: position }%>
          <% end %>
      <% end %>
    </ul>

  </div>

</div>



