<h1><%= @user.name %></h1>

<div id="friendship-status">

  <% status = current_user.friendship_status_with(@user) %>

  <% if status == :pending %>
    Your connection request to <b><%= @user.first_name %></b> is awaiting approval.
  <% elsif status == :connected  %>
    <b><%= @user.first_name %></b> is a friend.
  <% elsif status == :denied %>
    <b><%= @user.first_name %></b> denied your earlier friend request.
  <% else %>
    <%= render partial: "friendship-form", locals: { user: @user } %>
  <% end %>

</div>



<% if @user.tagline %>
    <h4 class="current-value"><%= @user.tagline %></h4>

    <input type="text" name="user[tagline]"
      value="<%= @user.tagline %>">

    <button>Save</button>
<% end %>

<% if @user.city || @user.state %>
  <b>Location:</b>
  <%= @user.city %>
  <%= ", " unless @user.state.nil? || @user.city.nil? %>
  <%= @user.state %>

  <br><br>
<% end %>

<% if @user.industry %>
  <b>Industry:</b> <%= @user.industry %>

  <br>
<% end %>

<% if @user.summary %>
  <h3>Summary</h3>
    <p>
      <%= @user.summary %>
    </p>
<% end %>

<h3>Contact Information</h3>
  <ul id="contact_information">
    <li>
      <%= @user.email %>
    </li>
  </ul>

<h3>Education History</h3>
  <% @user.educations.each do |education| %>
    <%= render partial: "educations/show", locals: { user: @user, education: education } %>
  <% end %>


