<h1 data-user-id="<%= @user.id %>"><%= @user.name %></h1>

<div id="edit-profile-body">
  <div class="property">
    <h2 class="current-value" data-field="user-tagline" data-nil="<%=
    	@user.tagline ? false : true %>"><%=
      @user.tagline ? @user.tagline : "(enter tagline)"
      %></h2>
  </div>

  <div class="property">
    <b>Location:</b>
    <span class="current-value" data-field="user-city" data-nil="<%=
    	@user.city ? false : true %>">
      <%= @user.city ? @user.city : "(enter city)" %></span>,
    <span class="current-value" data-field="user-state">
      <%= @user.state ? @user.state : "(enter state)" %>
    </span>
  </div>

  <div class="property">
    <b>Industry:</b>
    <span class="current-value" data-field="user-industry">
      <%= @user.industry ? @user.industry : "(enter industry)" %>
    </span>
  </div>

  <div class="property">
    <h3>Summary:</h3>
    <span class="current-value" data-field="user-summary" data-nil="<%=
    	@user.summary ? false : true %>">
      <%= @user.summary ? @user.summary : "(enter summary)" %>
    </span>
  </div>

  <h3>Contact Information</h3>

  <ul id="contact_information">
    <li>
      <%= @user.email %>
    </li>
  </ul>

  <h3>Education History</h3>

  <a href="#" id="education-link" data-user-id="<%= @user.id %>">
    Add Education
  </a>

  <div id="educations"></div>

  <script type="application/json" id="bootstrapped_educations_json">
    { "educations": <%= @user.educations.to_json.html_safe %> }
  </script>

  <%= render partial: "users/js-partials/profile-js" %>

  <%= render partial: "users/js-partials/data-js" %>

  <%= render partial: "users/js-partials/education-template-js" %>
</div>
