<script>
  $(document).ready( function(){
    function delayedRemove(jQueryObj) {
      timeoutID = window.setTimeout(function() {
        jQueryObj.remove();
      }, 1000);
    }

    $('.current-value').on("click", function(event) {
      var $target = $(event.target);
      $target.addClass("active");

      var notifications = '<div class="notifications"></div>'
      $target.parent().prepend(notifications);

      var buttons = '<button class="save">Save</button>'
      buttons += '<button class="remove">Remove</button>'

      var fieldType = $target.attr('data-field');
      var fieldValue = $target.text().trim();
      var fieldHTML = createField(fieldType, fieldValue);

      $target.after(fieldHTML);
      $target.parent().addClass("editing");
    });

    $('button').on("click", function(event) {
      var $target = $(event.target);

      var $activeCurrentVal = $target
        .siblings().filter('.current-value.active');
      var fieldName = $activeCurrentVal.attr('data-field');
      var fieldNameAsHash = "user[" + fieldName + "]";
      var userID = $('h1').attr('data-user-id');
      var obj = {};

      if ($target //has class)

      var $field = $target.siblings().filter('.field');
      var $notifications = $target.siblings().filter('.notifications');
      var fieldVal = $field.val();

      obj[fieldNameAsHash] = fieldVal;

      $.ajax({
        url: "/users/" + userID,
        type: "PUT",
        data: obj,
        success: function() {
          $activeCurrentVal.text(fieldVal);
          $field.remove();
          $activeCurrentVal.removeClass("active");
          $target.parent().removeClass("editing");
          $notifications.text(fieldName + " updated successfully!");
          $notifications.addClass("green");
          delayedRemove($notifications);
        },
        error: function(jqXHR) {
          $field.val($activeCurrentVal.text().trim())
          $notifications.text(jqXHR.responseText);
          $notifications.addClass("red");
          delayedRemove($notifications);
        }
      });
    });

    function createField(fieldType, fieldValue) {
      if (fieldType == "state") {
        var html = '<select class="field">';
        html += '<option>Select a State</option>';
        var states = ["NY", "CA"];
        states.forEach( function(state) {
          html += '<option value="' + state + '">'
          html += state + '</option>';
        })
      } else {
        var html = '<input class="field" type="text" value="';
        html += fieldValue + '">';
      }

      return html;
    }
  });
</script>

<h1 data-user-id="<%= @user.id %>"><%= @user.name %></h1>

<div class="property">
  <h2 class="current-value" data-field="tagline"><%=
    @user.tagline ? @user.tagline : "(enter tagline)"
    %></h2>

  <button class="save">Save</button>
  <button class="remove">Remove</button>
</div>

<div class="property">
  <b>Location:</b>
  <span class="current-value" data-field="city">
    <%= @user.city ? @user.city : "(enter city)" %></span>,
  <span class="current-value" data-field="state">
    <%= @user.state ? @user.state : "(enter state)" %>
  </span>

  <button class="save">Save</button>
  <button class="remove">Remove</button>
</div>

  <br>

<% if @user.industry %>
  <b>Industry:</b> <%= @user.industry %>

  <br>
<% end %>

<% if @user.summary %>
  <h3>Summary</h3>
    <p>
      <%= @user.summary %>
    </p>
<% end %>

<h3>Contact Information</h3>
  <ul id="contact_information">
    <li>
      <%= @user.email %>
    </li>
  </ul>

<h3>Education History</h3>
  <% @user.educations.each do |education| %>
    <%= render partial: "educations/show", locals: { user: @user, education: education } %>
  <% end %>


