<h1>Sign Up</h1>

<%= form_for @user, url: { action: "create" } do |f| %>
  <label>First Name:<br>
    <%= f.text_field :first_name %>
  </label>

  <br>

  <label>Last Name:<br>
    <%= f.text_field :last_name %>
  </label>

  <br>

  <label>Email Address:<br>
    <%= f.email_field :email %>
  </label>

  <br>

  <label>Password:<br>
    <%= f.password_field :password %>
  </label>

  <br><br>

  <%= f.submit "Sign Up" %>
<% end %>