<div id="profile-top" class="group">

  <h1>Settings</h1>

  <ul id="profile-nav">

    <li data-target="main" <%= ' class=active' unless @company %> >
      <a href="#">My Settings</a>
    </li>

    <li class="nest">Company Settings
      <ul>
        <% current_user.managed_companies.each do |company| %>
          <li data-target="company" data-company-id="<%= company.id %>">
            <a href="#"><%= company.name %></a>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>

</div>

<div id="profile-main" class="profile-box">
  <h3><span>User Settings</span></h3>

  <h4>My Profile Picture</h4>

  <div class="pod half first">
    <h5>Update Photo</h5>

    <%= form_for current_user do |f| %>
      <%= f.file_field :pic %>
      <%= f.submit "Update Photo" %>
    <% end %>
  </div>

  <div class="pod half">
    <div class="bg gray">
      <h5>Current Photo</h5>

      <%= image_tag current_user.pic.url(:big) %>
    </div>
  </div>

</div>



<div id="profile-company" class="profile-box">
  Companies!
</div>

<%= render partial: "shared/js/nav" %>