<h1>User Settings</h1>

<h3>My Profile Picture</h3>

<div class="pod half first">
  <h4>Update Photo</h4>

  <form action="<%= user_url(current_user) %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
  <input name="user[pic]" type="file">
  <input type="submit" value="goooo">
  </form>


  <%= form_for current_user do |f| %>
    <%= f.file_field :pic %>
    <%= f.submit "Update Photo" %>
  <% end %>
</div>

<div class="pod half">
  <h4>Current Photo</h4>

  <%= image_tag current_user.pic.url(:big) %>
</div>