<ul id="profile-nav" class="nav">
  <li data-target="main" class="active"><a href="#">Information</a></li>

  <% if type == "user" %>
    <% unless object.educations.empty? && !edit %>
      <li data-target="experience"><a href="#">Education</a></li>
    <% end %>

    <% unless object.positions.empty? && !edit %>
      <li data-target="company"><a href="#">Work Experience</a></li>
    <% end %>
  <% end %>

  <% unless object.statuses.empty? && !edit %>
    <li data-target="status" data-my-profile="<%= edit ? "true" : "false" %>">
      <a href="#">Updates</a>
    </li>
  <% end %>

  <% if type == "company" %>
    <% if edit %>
      <li data-target="settings" class="button">
        <a href="<%= settings_url %>?company=<%= object.id %>">
          Company Settings
        </a>
      </li>
    <% elsif object.member_ids.include?(current_user.id) %>
      <li data-target="leave" class="button">
        <%= button_to "Leave Company",
          company_membership_url(object,
            Membership.find_by_member_id_and_company_id(
            current_user.id, object.id)
          ), method: :delete %>
      </li>
    <% else %>
      <li class="button">
        <%= button_to "Join Company",
          company_memberships_url(object), method: :post %>
      </li>
    <% end %>
  <% end %>

  <%= friendship_status(object) unless edit || type == "company" %>
</ul>