<% if type == "user" %>

  <% status = current_user.friendship_status_with(object) %>

  <div id="friendship-status" class="<%= status %>">

    <% if status == :connected  %>
      Current Connection

    <% elsif status == :denied %>
      Connection Request Denied

    <% elsif status == :request_pending %>
      Connection Request Pending

    <% elsif status == :receipt_pending %>
      <% friendship_token = Friendship.find_by_friender_id_and_friendee_id(
        object.id, current_user.id
        ).token %>
      Connection Request Pending -
      <a href="<%=
      friendships_approve_url %>?code=<%= friendship_token %>">Approve</a> or
      <a href="<%=
      friendships_deny_url %>?code=<%= friendship_token %>">Deny</a>

    <% else %>
      <%= render partial: "friendships/new", locals: { user: object } %>
    <% end %>

  </div>

  <% if object.tagline %>
      <h4><%= object.tagline %></h4>
  <% end %>
<% end %>

<div id="profile-main" class="profile-box">
  <h3>Information</h3>

  <% if type == "company" %>

    <% if object.address1 || object.address1 || object.city || object.state %>
      <b>Location:</b><br>

      <%= object.address1 %>
      <%= raw("<br>") if object.address1 && object.address2 %>
      <%= object.address2 %>

      <%= raw("<br>") if object.city || object.state %>

      <%= city_state(object) %>

      <%= object.zip %>

      <br><br>
    <% end %>

  <% else %>

    <% if object.city || object.state %>
      <b>Location:</b>
      <%= city_state(object) %>

      <br><br>
    <% end %>

  <% end %>

  <% if object.industry %>
    <b>Industry:</b> <%= object.industry %>

    <br>
  <% end %>

  <% if object.summary %>
    <h4>Summary</h4>
      <p>
        <%= object.summary %>
      </p>
  <% end %>

  <%= render partial: "shared/contact-info", locals: { object: object } %>

</div>
