<h1 data-id="<%= object.id %>">
  <%= object.name %>
</h1>

<ul id="profile-nav">
  <li data-target="main" class="active"><a href="#">Information</a></li>

  <% if type == "user" %>
    <li data-target="education"><a href="#">Education</a></li>
  <% end %>

  <li data-target="updates"><a href="#">Updates</a></li>

  <% if type == "company" %>
    <% if edit %>
      <li data-target="settings" class="button">
        <a href="<%= settings_url %>?company=<%= object.id %>">
          Company Settings
        </a>
      </li>
    <% elsif object.members.include?(current_user) %>
      <li data-target="leave" class="button">
        <%= button_to "Leave Company",
          company_membership_url(object,
            Membership.find_by_member_id_and_company_id(
            current_user.id, object.id)
          ), method: :delete %>
      </li>
    <% else %>
      <li class="form">
        <%= button_to "Join Company",
          company_memberships_url(object), method: :post %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if edit %>
  <%= render partial: "shared/show-and-edit", locals: { type: type,
    object: object } %>
<% else %>
  <%= render partial: "shared/show", locals: { type: type, object:
    object } %>
<% end %>

<% if type == "user" %>

  <div id="profile-education" class="profile-box">

    <h3>Education History</h3>

    <% if edit %>
      <a href="#" id="education-link" data-<%= type %>-id="<%= object.id %>">
        Add Education
      </a>
    <% end %>

    <div id="education-list"></div>

    <script type="application/json" id="bootstrapped_education_data_json">
      { "education_list": <%= object.educations.to_json.html_safe %> }
    </script>

  </div>

<% end %>


<div id="profile-updates" class="profile-box">
  <h3>Status Updates</h3>

  <div id="status-list"></div>
</div>

<script type="application/json" id="bootstrapped_status_data_json">
  { "status_list": <%= object.statuses.to_json.html_safe %> }
</script>

<%= render partial: "shared/profile-js/templates/education" %>

<%= render partial: "shared/profile-js/edit" %>

<%= render partial: "shared/profile-js/nav" %>

<%= render partial: "shared/profile-js/templates/status" %>

<%= render partial: "shared/profile-js/data" %>