<div id="profile-top" class="group">

  <h1 data-id="<%= object.id %>">
    <%= object.name %>
  </h1>

  <%= render partial: "shared/nav", locals: { type: type, object: object,
    edit: edit } %>

</div>

<%= render partial: "shared/profile-info", locals:
  { object: object, edit: edit, type: type} %>

<% if type == "user" %>

  <%= render partial: "shared/collections/index", locals: { type: "experience",
    new_url: new_experience_url, object: object,
    edit: edit, position: false, title: "Education" } %>

  <%= render partial: "shared/collections/index", locals: { type: "experience",
    new_url: new_experience_url, object: object,
    edit: edit, position: true, title: "Work Experience" } %>

<% end %>

<%= render partial: "shared/collections/index", locals: { type: "status",
  new_url: new_status_url, object: object, edit: edit, title: "Status Updates" } %>

<script type="application/json" id="bootstrapped_status_data_json">
  { "status_list": <%= object.statuses.to_json.html_safe %> }
</script>

<%= render partial: "statuses/js" %>

<%= render partial: "shared/js/nav", locals: { current: @current_tab } %>