<div id="profile-top" class="group">

  <h1 data-id="<%= object.id %>">
    <%= object.name %>
  </h1>

  <%= render partial: "shared/nav", locals: { type: type, object: object,
    edit: edit } %>

</div>

<% if edit %>
  <%= render partial: "shared/show-and-edit", locals: { type: type,
    object: object } %>
<% else %>
  <%= render partial: "shared/show", locals: { type: type, object:
    object } %>
<% end %>

<% if type == "user" %>

  <%= render partial: "shared/collections/index", locals: { type: "experience",
    new_url: new_experience_url, plural: "experiences", object: object,
    edit: edit, position: false, title: "Experience" } %>

  <%= render partial: "shared/collections/index", locals: { type: "experience",
    new_url: new_experience_url, plural: "experiences", object: object,
    edit: edit, position: true, title: "Work Experience" } %>

<% end %>

<%= render partial: "shared/collections/index", locals: { type: "status",
  new_url: new_status_url, plural: "statuses", object: object, edit: false, title: "Status Updates" } %>

<script type="application/json" id="bootstrapped_status_data_json">
  { "status_list": <%= object.statuses.to_json.html_safe %> }
</script>

<%= render partial: "statuses/js" %>

<%= render partial: "shared/js/nav" %>