<h1 data-id="<%= object.id %>">
  <%= object.name %>
</h1>

<%= render partial: "shared/nav", locals: { type: type, object: object } %>

<% if edit %>
  <%= render partial: "shared/show-and-edit", locals: { type: type,
    object: object } %>
<% else %>
  <%= render partial: "shared/show", locals: { type: type, object:
    object } %>
<% end %>

<% if type == "user" %>

  <%= render partial: "shared/collections/index", locals: { type: "education",
    new_url: new_education_url, plural: "educations", object: object, edit: edit
    } %>

<% end %>

<%= render partial: "shared/collections/index", locals: { type: "status",
  new_url: new_status_url, plural: "statuses", object: object, edit: false } %>

<div id="profile-updates" class="profile-box">
  <h3>Status Updates</h3>

  <div id="status-list"></div>
</div>

<script type="application/json" id="bootstrapped_status_data_json">
  { "status_list": <%= object.statuses.to_json.html_safe %> }
</script>

<%= render partial: "shared/js/nav" %>