<% url = position ?
   experiences_url + "?position=true" : experiences_url %>

<%= render partial: "shared/autocomplete", locals: { url: url, field: '#name',
  hidden_field: '#experience_name', type: "experience", id: "1" } %>

<div class="pod third first">

  <%= form_tag(url, method: "post", class: "profile-form",
    id: position ? "company" : "experience", remote: true) do %>

      <label><%= position ? "Company" : "School" %> <i>(Required)</i>:<br>
        <input id="name">
        <input type="hidden" id="experience_name" name="experience[name]"><br>
      </label>

      <label>City:<br>
        <input type="text" name="experience[city]"><br>
      </label>

      <label>State:<br>
        <select name="experience[state]">
          <option value="">Select a State:</option>

          <% states.each do |state| %>
            <option value="<%= state %>"><%= state %></option>
          <% end %>
            <!-- can current state be selected? -->
        </select><br>
      </label>

      <label>Start Date:<br>
        <input type="date" name="experience[start_date]"><br>
      </label>

      <label>Current <%= position ? "Position" : "Student" %> <input type="checkbox" name="experience[current]"><br>
      </label>

      <label>End Date:<br>
        <input type="date" name="experience[end_date]"><br>
      </label>

      <label><%= position ? "Title" : "Area of Study" %>:<br>
        <input type="text" name="experience[string_1]"><br>
      </label>

      <label><%= position ? "Industry" : "Degree" %>:<br>
        <% if position %>
          <%= industry_select("experience", "none", "string_2") %>
        <% else %>
          <input type="text" name="experience[string_2]">
        <% end %>
        <br>
      </label>

      <label><%= position ? "Description" : "Awards & Activites" %><br>
        <textarea name="experience[body]"></textarea><br></label>

      <input type="submit"
        value="Add <%= position ? "Position" : "School" %>"></form>
  <% end %>

</div>