<!-- because we might be generating this
     the same way we gen status show -->

<% experience = object %>

<li class="profile-data <%= klass %>" id="<%= experience.id %>">
  <h4><%= experience.name %></h4>

  <div class="group">

    <div class="property property-half">
      <b>Location:</b>
      <span class="current-value" data-field="experience-city" data-nil="<%=
      	experience.city ? false : true %>">
        <%= experience.city ? experience.city : plus + " city" %></span>,
      <span class="current-value" data-field="experience-state">
        <%= experience.state ? experience.state : plus + " state" %>
      </span>
    </div>

    <div class="property property-half">
      <b>Dates of Attendance:</b><br>
      <span class="current-value" data-field="experience-start_date"
        data-nil="<%= experience.start_date ? false : true %>">
        <%= experience.start_date ?
          experience.start_date : plus + " start date" %></span> to
      <span id="end-date" class="current-value<%= " hidden" if
        experience.current %>" data-field="experience-end_date">
        <%= experience.end_date ? experience.end_date : plus + " end date" %>
      </span>

      <div class="property no-margin<%= " hidden" if
          experience.end_date %>" id="current">

        <span class="current">
          Current <%= experience.position ? "Position" : "Student" %>
        </span>

        <span class="current-value" data-field="experience-current">
           <input type="checkbox"
          <%= experience.current ? "checked" : "" %>>
        </span>
      </div>
    </div>


    <div class="property property-half">
      <b><%= experience.position ? "Title" : "Area of Study" %>:</b>
      <span class="current-value" data-field="experience-string_1" data-nil="<%=
      	experience.string_1 ? false : true %>">

        <% if experience.string_1 %>
          <%= experience.string_1 %>
        <% elsif experience.position %>
          <%= plus %> title
        <% else %>
          <%= plus %> area of study
        <% end %>
      </span>
    </div>

    <div class="property property-half">
      <b><%= experience.position ? "Industry" : "Degree" %>:</b>
      <span class="current-value" data-field="experience-string_2" data-nil="<%=
      	experience.string_2 ? false : true %>">

        <% if experience.string_2 %>
          <%= experience.string_2 %>
        <% elsif experience.position %>
          <%= plus %> industry
        <% else %>
          <%= plus %> degree
        <% end %>
      </span>
    </div>

  </div>

  <div class="property">
    <b><%= experience.position ? "Summary" : "Awards & Activities" %>:</b><br><br>

    <span class="current-value" data-field="experience-body" data-nil="<%=
    	experience.body ? false : true %>">

      <% if experience.body %>
        <%= htmlize(experience.body) %>
      <% elsif experience.position %>
        <%= plus %> summary
      <% else %>
        <%= plus %> activites & awards
      <% end %>

    </span>
  </div>

  <%= link_to x + " delete", experience_url(experience), method: :delete,
    class: "buttony-link delete", id: "experience",
    remote: true %>

</li>

