<!-- because we might be generating this
     the same way we gen status show -->

<% experience = object %>

<li class="profile-data" id="<%= experience.id %>">
  <h4><%= experience.name %></h4>

  <div class="property propery-half">
    <b>Location:</b>
    <span class="current-value" data-field="experience-city" data-nil="<%=
    	experience.city ? false : true %>">
      <%= experience.city ? experience.city : "city" %></span>,
    <span class="current-value" data-field="experience-state">
      <%= experience.state ? experience.state : "state" %>
    </span>
  </div>

  <div class="property">
    <b>Dates of Attendance:</b>
    <span class="current-value" data-field="experience-start_date"
      data-nil="<%= experience.start_date ? false : true %>">
      <%= experience.start_date ?
        experience.start_date : "start date" %></span> to
    <span id="end-date" class="current-value<%= " hidden" if
      experience.current %>" data-field="experience-end_date">
      <%= experience.end_date ? experience.end_date : "end date" %>
    </span>
  </div>

  <div class="property<%= " hidden" if
      experience.end_date %>" id="current-student">
    <span class="current-student">Current Student</span>
    <span class="current-value" data-field="experience-current">
       <input type="checkbox"
      <%= experience.current ? "checked" : "" %>>
    </span>
  </div>

  <div class="property">
    <b>Area of Study:</b>
    <span class="current-value" data-field="experience-string_1" data-nil="<%=
    	experience.string_1 ? false : true %>">
      <%= experience.string_1 ? experience.string_1 : "area of study" %></span>
  </div>

  <div class="property">
    <b>Degree:</b>
    <span class="current-value" data-field="experience-string_2" data-nil="<%=
    	experience.string_2 ? false : true %>">
      <%= experience.string_2 ? experience.string_2 : "degree" %></span>
  </div>

  <div class="property">
    <b>Awards & Activities:</b><br>
    <span class="current-value" data-field="experience-body" data-nil="<%=
    	experience.body ? false : true %>">
      <%= experience.body ? experience.body :
        "awards & activities" %></span>
  </div>

  <div class="delete-experience">
    <%= button_to "Delete", experience_url(experience), method: :delete,
      remote: true, id: "experience" %>
  </div>

</li>

