<% experience = object %>

<!-- <div class="pod <%= edit ? "two-thirds" : "half first" %>"> -->

<li class="profile-data pod <%= klass %>" id="<%= experience.id %>">
  <h4><%= experience.name %></h4>

  <% if experience.city || experience.state %>
    <div class="property property-half">
      <b>Location:</b>
      <%= experience.city %>
      <%= ", " unless experience.state.nil? || experience.city.nil? %>
      <%= experience.state %>

    </div>
  <% end %>

  <% if has_date_info?(experience) %>
    <div class="property property-half">
      <b>Date:</b>

      <% if experience.current %>

        <% if experience.start_date %>
          <%= experience.start_date %> to Present
        <% else %>
          Current <%= position ? "Position" : "Student" %>

        <% end %>

      <% else %>

        <% if experience.start_date || experience.end_date %>
          <%= experience.start_date %>
          <%= " to " unless experience.start_date.nil? || experience.end_date.nil? %>
          <%= experience.end_date %>

        <% end %>

      <% end %>
    </div>
  <% end %>

  <% if experience.string_1 %>
    <div class="property property-half">
      <b><%= position ? "Title" : "Area of Study" %>:</b>
      <%= experience.string_1 %>
    </div>
  <% end %>

  <% if experience.string_2 %>
    <div class="property property-half">
      <b><%= position ? "Industry" : "Degree" %>:</b>
      <%= experience.string_2 %>
    </div>
  <% end %>

  <% if experience.body %>
    <div class="property">
      <b><%= position ? "Summary" : "Awards & Activities" %>:</b>
      <p>
        <%= experience.body %>
      </p>
    </div>
  <% end %>
</li>

