<% experience = object %>

<li class="profile-data" id="<%= experience.id %>">
  <h4><%= experience.name %></h4>

  <% if experience.city || experience.state %>
    <%= experience.city %>
    <%= ", " unless experience.state.nil? || experience.city.nil? %>
    <%= experience.state %>

    <br><br>
  <% end %>

  <% if experience.current %>

    <% if experience.start_date %>
      <%= experience.start_date %> to Present

      <br><br>
    <% else %>
      Currently Enrolled

      <br><br>
    <% end %>

  <% else %>

    <% if experience.start_date || experience.end_date %>
      <%= experience.start_date %>
      <%= " to " unless experience.start_date.nil? || experience.end_date.nil? %>
      <%= experience.end_date %>

      <br><br>
    <% end %>

  <% end %>

  <% if experience.string_1 %>
    <b>Area of Study:</b> <%= experience.string_1 %>

    <br>
  <% end %>

  <% if experience.string_2 %>
    <b>Degree:</b> <%= experience.string_2 %>

    <br>
  <% end %>

  <% if experience.body %>
    <b>Awards & Activites:</b><br>
    <p>
      <%= experience.body %>
    </p>

    <br>
  <% end %>
</li>

