<div id="sign-up-or-in-container">

  <div class="pod third first" id="sign-up-or-in">
    <div class="modal-style">
    <% if signing_in %>
      <%= render partial: "sessions/new", locals: { user: user } %>
    <% else %>
      <%= render partial: "users/new", locals: { user: user } %>
    <% end %>
    </div>
  </div>

  <div class="pod two-thirds">
    <%= render partial: "shared/sign-up-or-in/perks" %>
  </div>

  <% link = session_url + "?vip=true" %>

  <div id="vip">
    <%= button_to "Log in", link, method: :post, id: "start", class: "vip" %>
  </div>

  <!-- <button id="start" class="vip" href="<%= link %>" method="post" data-remote="true">
    <b>Employer?</b> Click here to log in as <h2>Michael Bluth</h2>
  </button> -->

</div>

