<h4><%= education.school %></h4>

  <label>City:<br>
    <input type="text" name="educations[<%= education.id %>][city]"
      value="<%= education.city %>">
  </label>

  <br><br>

  <label>State:<br>
    <input type="text" name="educations[<%= education.id %>][state]"
      value="<%= education.state %>">
  </label>

  <br><br>

  <label>Start Date:<br>
    <input type="date" name="educations[<%= education.id %>][start_date]"
      value="<%= education.start_date %>">
  </label>

  <br><br>

  <label>
    <input type="hidden" value="false"
      name="educations[<%= education.id %>][current_student]">
    <input type="checkbox" value="true"
      name="educations[<%= education.id %>][current_student]"> Current Student
  </label>

  <br><br>

  <label>End Date:<br>
    <input type="date" name="educations[<%= education.id %>][end_date]"
      value="<%= education.end_date %>">
  </label>

  <br><br>

  <label>Area of Study:<br>
    <input type="text" name="educations[<%= education.id %>][area]"
      value="<%= education.area %>">
  </label>

  <br><br>

  <label>Degree:<br>
    <input type="text" name="educations[<%= education.id %>][degree]"
      value="<%= education.degree %>">
  </label>

  <br><br>

  <label>Activities & Awards:<br>
    <textarea name="educations[<%= education.id %>][awards]"><%=
      education.awards %></textarea>
  </label>