<!-- because we might be generating this
     the same way we gen status show -->

<% education = object %>

<li class="profile-data" id="<%= education.id %>">
  <h4><%= education.school %></h4>

  <div class="property">
    <b>Location:</b>
    <span class="current-value" data-field="education-city" data-nil="<%=
    	education.city ? false : true %>">
      <%= education.city ? education.city : "city" %></span>,
    <span class="current-value" data-field="education-state">
      <%= education.state ? education.state : "state" %>
    </span>
  </div>

  <div class="property">
    <b>Dates of Attendance:</b>
    <span class="current-value" data-field="education-start_date"
      data-nil="<%= education.start_date ? false : true %>">
      <%= education.start_date ?
        education.start_date : "start date" %></span> to
    <span id="end-date" class="current-value<%= " hidden" if
      education.current_student %>" data-field="education-end_date">
      <%= education.end_date ? education.end_date : "end date" %>
    </span>
  </div>

  <div class="property<%= " hidden" if
      education.end_date %>" id="current-student">
    <span class="current-student">Current Student</span>
    <span class="current-value" data-field="education-current_student">
       <input type="checkbox"
      <%= education.current_student ? "checked" : "" %>>
    </span>
  </div>

  <div class="property">
    <b>Area of Study:</b>
    <span class="current-value" data-field="education-string_1" data-nil="<%=
    	education.string_1 ? false : true %>">
      <%= education.string_1 ? education.string_1 : "area of study" %></span>
  </div>

  <div class="property">
    <b>Degree:</b>
    <span class="current-value" data-field="education-string_2" data-nil="<%=
    	education.string_2 ? false : true %>">
      <%= education.string_2 ? education.string_2 : "degree" %></span>
  </div>

  <div class="property">
    <b>Awards & Activities:</b><br>
    <span class="current-value" data-field="education-body" data-nil="<%=
    	education.body ? false : true %>">
      <%= education.body ? education.body :
        "awards & activities" %></span>
  </div>

  <div class="delete-education">
    <%= button_to "Delete", education_url(education), method: :delete,
      remote: true, id: "education" %>
  </div>

</li>

