<% education = object %>

<li class="profile-data" id="<%= education.id %>">
  <h4><%= education.school %></h4>

  <% if education.city || education.state %>
    <%= education.city %>
    <%= ", " unless education.state.nil? || education.city.nil? %>
    <%= education.state %>

    <br><br>
  <% end %>

  <% if education.current_student %>

    <% if education.start_date %>
      <%= education.start_date %> to Present

      <br><br>
    <% else %>
      Currently Enrolled

      <br><br>
    <% end %>

  <% else %>

    <% if education.start_date || education.end_date %>
      <%= education.start_date %>
      <%= " to " unless education.start_date.nil? || education.end_date.nil? %>
      <%= education.end_date %>

      <br><br>
    <% end %>

  <% end %>

  <% if education.string_1 %>
    <b>Area of Study:</b> <%= education.string_1 %>

    <br>
  <% end %>

  <% if education.string_2 %>
    <b>Degree:</b> <%= education.string_2 %>

    <br>
  <% end %>

  <% if education.body %>
    <b>Awards & Activites:</b><br>
    <p>
      <%= education.body %>
    </p>

    <br>
  <% end %>
</li>

