<!DOCTYPE html>
<html>
<head>
  <title>Cufflink</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/alerts" %>

<%= render partial: "layouts/nav" %>

<section id="main">
  <%= yield %>
</section>

<script>

$(document).ready( function(root) {

  var ProfileLib = root.ProfileLib = (root.ProfileLib || {});

  $("body")

    .on("ajax:success", "header a.gen-form", function(event, data) {
      var $html = data;
      var $link = $(event.target);

      $("header").prepend($html);
    })

    .on("ajax:success", "header .profile-form", function(event, data) {

      ProfileLib.afterCreation(event, data, true);
    })
})


</script>
</body>
</html>
